.add-medical-supply{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 4;
    top: -1px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: scroll;
}
.add-medical-supply h4{
    margin: 0;
}
/* div #add-medical-supply{
    margin-top: -5px;
    padding: 10px 20px 20px 20px;
    background-color: rgb(245 245 245);
} */
#btn-add-item{
    /* background-color: rgb(141, 141, 141); */
    margin-top: 20px;
    float: right;
}
#btn_cancel{
    /* background-color: rgb(141, 141, 141); */
    margin-top: 20px;
}
