.add-health-data{
    padding-top: 30px;
}
/* .acdheader{
    margin: auto;
    width: 95%;
    border-top: 1px solid rgba(var(--b6a,219,219,219),1);
    border-left: 1px solid rgba(var(--b6a,219,219,219),1);
    border-right: 1px solid rgba(var(--b6a,219,219,219),1);
} */
.hds-heading{
    background-color: rgb(226, 226, 226);
    border-top: 1px solid rgba(var(--b6a,219,219,219),1);
    border-left: 1px solid rgba(var(--b6a,219,219,219),1);
    border-right: 1px solid rgba(var(--b6a,219,219,219),1);
    border-bottom: none;
    padding: 10px 15px 10px 15px;
    width: 94%;
    margin: auto;
    text-align: center;
}
div #create-health-data{
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    margin: 0;
    padding: 10px 20px 20px 20px;
    margin: auto;
    width: 94%;
}
#create-health-data p{
    margin-bottom: 0px;
}
#create-health-data h5{
    padding: 3px;
    border-bottom: 3px solid rgba(var(--b6a,219,219,219),1);
}
#create-health-data h6{
    margin-bottom: 0px;
}
.heredo-heading{
    padding: 3px;
    background-color: rgb(226, 226, 226);
    text-align: center;
}
.vaccine-heading{
    padding: 3px;
    background-color: rgb(226, 226, 226);
    text-align: center;
}
.med-history-heading{
    padding: 3px;
    background-color: rgb(226, 226, 226);
    text-align: center;
}
#carouselbtn{
    background-color: transparent;
    border: none;
    width: 8%;
}
label{
    font-size: 15px;
}
/* #studenthealthdata-btn{
    background-color: rgb(141, 141, 141);
} */
#patients-medic-data1{
    padding: 5px;
}
#vaccines-info{
    padding: 5px;
}
#patients-personalinfo{
    padding: 5px;
}
#patients-family-data{
    padding: 5px;
}
#patients-medic-data1 hr{
    margin: 0px;
}

.show-health-data{
    padding-top: 25px;
}
.show-health-data #print{
    font-size: 20px;
}