.admin-login{
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: -1px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: scroll;
}
div #admin-login{
    padding: 20px;
    background-color: #def0fe;
    margin-top: 100px;
    height: 60%;
}
#acdclinicLogo{
    width: 150px;
}
#adminbtn-login{
    padding: 5px 15px 5px 15px;
    float: left;
    border: none;
    border-radius: 2px;
}
#adminbtn-cancel{
    padding: 5px 15px 5px 15px;
    float: right;
    border: none;
    border-radius: 2px;
}