.batch-personel-health-data{
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: -1px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: scroll;
}
div #create-batch-personel-health-data{
    padding: 20px;
}