
.front-container{
    background: linear-gradient(to bottom, #ffff, #add4fd, #007bff);
    width: 100%;
    height: 100%;
}
.front-cont{
    padding-top: 100px;
}
.front-cont .card{
    text-align: center;
    width: 70%;
    height: 400px;
    margin: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
/* .login-btn{
    padding-top: 55px;
} */
.front-cont button{
    width: 40%;
}
#btn-acdstaff{
    float: right;
}
#btn-acdpatient{
    float: left;
}