.hlth-dashboard{
    background-color: rgba(var(--b3f,250,250,250),1);
}
.health-data{
    background-color: rgba(var(--d87,255,255,255),1);
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    padding: 20px;
    width: 80%;
    margin-top: 10px;
    
}
.health-data-addbtn{
    background-color: rgba(var(--d87,255,255,255),1);
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    padding: 10px 15px 10px 15px;
    width: 80%;
    margin-top: 83px;
    display: inline-flex;
}
#btn-data{
    background-color: gray;
}
#btn-batchdata{
    background-color: gray;
    margin-top: 8px;
}
.hlth-dta{
    padding: 20px 10px 20px 10px;
    width: 42%;
    float: right;
}
.student-dta h3{
    float: right;
    margin-bottom: 0px;
    margin-top: 5px;
}