.login{
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.034);
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: -1px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: scroll;
}
.patient-login{
    padding: 0px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: -1px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: scroll;
}
div #login{
    padding: 20px;
    background-color: #299ef8;
    margin-top: 100px;
    height: 70%;
}
div #patient-login{
    padding: 20px;
    background-color: #299ef8;
    margin-top: 100px;
    height: 70%;
}
#acdclinicLogo{
    width: 150px;
}
#loginbtn-login{
    padding: 5px 15px 5px 15px;
    float: left;
    border: none;
    border-radius: 2px;
}
#loginbtn-cancel{
    padding: 5px 15px 5px 15px;
    float: right;
    border: none;
    border-radius: 2px;
}
#patientbtn-login{
    padding: 5px 15px 5px 15px;
    float: left;
    border: none;
    border-radius: 2px;
}
#patientbtn-cancel{
    padding: 5px 15px 5px 15px;
    float: right;
    border: none;
    border-radius: 2px;
}