/* message-patient css */
.message-patient{
    padding: 0px;
    background-color: #fff;
    width: 25%;
    height: 65%;
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 1;
    right: 10px;
}
.card{
    height: 100%;
}
.patient-msg h6{
    width: 50%;
    float: left;
}
.patientmsg_card_body{
    overflow-y: scroll;
}
.patientmsg_card_body p{
    margin: 0;
    font-size: 15px;
}
.patientmsg_card_body .outbox{
    padding: 8px ;
    margin: none;
    max-width: 70%;
    border-radius: 15px;
}
.patientmsg_card_body .inbox{
    padding: 8px;
    margin: none;
    max-width: 70%;
    border-radius: 15px;
}
.patientmsg_card_body .event{
    padding: 8px;
    margin: none;
    max-width: 90%;
    border-radius: 15px;
}
.input-file{
    display:none;  
}
.file-ups{
    cursor: pointer;
}
.type_msg{
    max-height: 20px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.attach_btn{
    background: none;
    border: none;
}



/* message-doctor css */
.doctor-inbox{
    max-width: 98.9%;
    /* height: 50%; */
    padding-top: 5px;
    /* position: fixed; */
}
.doctormsg_card_body .no-msg{
    padding-top: 100px;
    padding-bottom: 100px;
}
.doctor-sender{
    padding: 0px;
}
.doctor-sender .card{
    height: 610px;
    border: none;
}
.message-doctor{
    padding: 0px;
}
.doctor-msg .card{
    height: 610px;
    border: none;
}
.doctor-msg h6{
    width: 50%;
    float: left;
}
.doctormsg_card_body{
    overflow-y: scroll;
    border: none;
}
.doctormsg_card_body p{
    margin: 0;
    font-size: 15px;
}
.doctormsg_card_body .outbox{
    padding: 8px ;
    margin: none;
    max-width: 70%;
    border-radius: 15px;
}
.doctormsg_card_body .inbox{
    padding: 8px;
    margin: none;
    max-width: 70%;
    border-radius: 15px;
}
.doctormsg_card_body .event{
    padding: 8px;
    margin: none;
    max-width: 70%;
    border-radius: 15px;
}
.doctormsg_card_body #image-msg{
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.doctormsg_card_body .no-msg{
    padding-top: 100px;
    padding-bottom: 100px;
}
.doctor-inbox .col-md-3{
    padding: 0px;
}



/* message-doctor css */
.clinicstaff-inbox{
    max-width: 98.9%;
    /* height: 50%; */
    padding-top: 5px;
    /* position: fixed; */
}
.clinicstaff-sender{
    padding: 0px;
}
.clinicstaff-sender .card{
    height: 600px;
    border: none;
}
.message-clinicstaff{
    padding: 0px;
}
.clinicstaff-msg .card{
    height: 610px;
    border: none;
}
.clinicstaff-msg h6{
    width: 50%;
    float: left;
}
.clinicstaffmsg_card_body{
    overflow-y: scroll;
    border: none;
    background-color: rgba(0,0,0,.03);
}
.clinicstaffmsg_card_body p{
    margin: 0;
    font-size: 15px;
}
.clinicstaffmsg_card_body .inbox{
    background-color: #FFFFFF;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    padding: 8px ;
    margin: none;
    max-width: 70%;
    border-radius: 15px 15px 15px 0px;
}
.clinicstaffmsg_card_body .outbox{
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    padding: 8px;
    margin: none;
    max-width: 70%;
    border-radius: 15px 15px 0px 15px;
}
.clinicstaffmsg_card_body .event{
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    padding: 8px;
    margin: none;
    max-width: 70%;
    border-radius: 15px 15px 0px 15px;
}
.clinicstaffmsg_card_body #image-msg{
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.clinicstaffmsg_card_body .no-msg{
    padding-top: 100px;
    padding-bottom: 100px;
}
.clinicstaff-inbox .col-md-3{
    padding: 0px;
}
.patientinfo-avatar img{
    margin-bottom: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
/* .user-receiver .theData td{
    padding-top: 0px;
    padding-bottom: 0px;
} */
.user-receiver .theData a{
    color: black;
}
.usersender-info{
    background-color: rgba(0,0,0,.03);
}
.user-receiver{
    background-color: transparent;
    border: none;
}
.user-receiver .card-body{
    background-color: transparent;
    border: none;
}
.user-receiver .card-body #msg table ,tbody,tr,td{
    border: none;
}


#search-sender{
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}


/* config datatable */

#msg_wrapper .dataTable{
    border: none;
}
#msg_wrapper .dataTables_length{
    display: none;
}
#msg_wrapper .dataTables_filter label{
    width: 100%;
    text-align: left;
    padding-left: 18px;
    color: white;
}
#msg_wrapper .dataTables_filter input{
    margin-bottom: 5px;
    background-color: #FFFFFF;
}

#msg_wrapper .dataTables_info{
    display: none;
    border: none;
}
#msg_wrapper .dataTables_paginate{
    display: none;
    border: none;
}
#msg_wrapper .dataTable td{
    padding: 3px 3px 3px 20px;
    font-size: 14px;
}
.user-receiver hr{
    margin: 5px 0px 0px 0px;
    color: rgb(249, 246, 246);
  }
#msg_wrapper .dataTable a{
    font-size: 14px;
}